In [8]:
import pandas as pd
df = pd.read_excel('C:\\NC\\Code\\Docu\\pyCodeSnipHints\\snips\\filters.xlsx')
df

,Filter_Name,Scope_Name,Provides_a_service,Query_Type,Filter1_field,Filter1_type,Filter1_value,Filter2_field,Filter2_type,Filter2_value,Filter3_field,Filter3_type,Filter3_value
0,nc-test1,FBG,True,Simple,ip,eq,1.1.1.1,NaN,NaN,NaN,NaN,NaN,NaN
1,nc-test2,INTERNET,False,Simple,ip,subnet,1.1.1.0/24,NaN,NaN,NaN,NaN,NaN,NaN
2,nc-test3,FBG,False,Simple,ip,subnet,1.1.2.0/24,NaN,NaN,NaN,NaN,NaN,NaN
3,nc-test4,INTERNET,True,and,ip,eq,1.1.1.2,ip,eq,1.1.1.3,NaN,NaN,NaN
4,nc-test5,FBG,False,Qulu,ip,subnet,10.10.10.0/24,NaN,NaN,NaN,NaN,NaN,NaN
5,nc-test6,INTERNET,False,or,ip,subnet,1.1.4.0/25,ip,subnet,1.1.5.0/25,NaN,NaN,NaN

In [21]:
# ffill = Fills missing values in dataframe (with last value)
#  axis 1 = column
# iloc = select row by position, e.g. iloc[5] = 5th row
df_row5 = df.iloc[5]
df_row5

Filter_Name             nc-test6
Scope_Name              INTERNET
Provides_a_service         False
Query_Type                    or
Filter1_field                 ip
Filter1_type              subnet
Filter1_value         1.1.4.0/25
Filter2_field                 ip
Filter2_type              subnet
Filter2_value         1.1.5.0/25
Filter3_field                NaN
Filter3_type                 NaN
Filter3_value                NaN
Name: 5, dtype: object

In [22]:
# List of integers, rows 0 and 1
df.iloc[[0, 1]]

,Filter_Name,Scope_Name,Provides_a_service,Query_Type,Filter1_field,Filter1_type,Filter1_value,Filter2_field,Filter2_type,Filter2_value,Filter3_field,Filter3_type,Filter3_value
0,nc-test1,FBG,True,Simple,ip,eq,1.1.1.1,NaN,NaN,NaN,NaN,NaN,NaN
1,nc-test2,INTERNET,False,Simple,ip,subnet,1.1.1.0/24,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# slice object, [:-2]= everything except last 2 items)
df.iloc[:-2]

,Filter_Name,Scope_Name,Provides_a_service,Query_Type,Filter1_field,Filter1_type,Filter1_value,Filter2_field,Filter2_type,Filter2_value,Filter3_field,Filter3_type,Filter3_value
0,nc-test1,FBG,True,Simple,ip,eq,1.1.1.1,NaN,NaN,NaN,NaN,NaN,NaN
1,nc-test2,INTERNET,False,Simple,ip,subnet,1.1.1.0/24,NaN,NaN,NaN,NaN,NaN,NaN
2,nc-test3,FBG,False,Simple,ip,subnet,1.1.2.0/24,NaN,NaN,NaN,NaN,NaN,NaN
3,nc-test4,INTERNET,True,and,ip,eq,1.1.1.2,ip,eq,1.1.1.3,NaN,NaN,NaN

In [39]:
# Row, Column
df.iloc[0, 0]

'nc-test1'

In [42]:
# slice object for all rows, but only last column (-1) [:,-1]= everything from start:stop
# note the comma
df.iloc[:, -1]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: Filter3_value, dtype: float64

In [27]:
# Fill all cells that were empty with last value from row
#  E.g. row0, last value was at filter1 1.1.1.1 -> this is used until Filter3 value (last row)
df_xy = df.ffill(axis=1)
df_xy

,Filter_Name,Scope_Name,Provides_a_service,Query_Type,Filter1_field,Filter1_type,Filter1_value,Filter2_field,Filter2_type,Filter2_value,Filter3_field,Filter3_type,Filter3_value
0,nc-test1,FBG,True,Simple,ip,eq,1.1.1.1,1.1.1.1,1.1.1.1,1.1.1.1,1.1.1.1,1.1.1.1,1.1.1.1
1,nc-test2,INTERNET,False,Simple,ip,subnet,1.1.1.0/24,1.1.1.0/24,1.1.1.0/24,1.1.1.0/24,1.1.1.0/24,1.1.1.0/24,1.1.1.0/24
2,nc-test3,FBG,False,Simple,ip,subnet,1.1.2.0/24,1.1.2.0/24,1.1.2.0/24,1.1.2.0/24,1.1.2.0/24,1.1.2.0/24,1.1.2.0/24
3,nc-test4,INTERNET,True,and,ip,eq,1.1.1.2,ip,eq,1.1.1.3,1.1.1.3,1.1.1.3,1.1.1.3
4,nc-test5,FBG,False,Qulu,ip,subnet,10.10.10.0/24,10.10.10.0/24,10.10.10.0/24,10.10.10.0/24,10.10.10.0/24,10.10.10.0/24,10.10.10.0/24
5,nc-test6,INTERNET,False,or,ip,subnet,1.1.4.0/25,ip,subnet,1.1.5.0/25,1.1.5.0/25,1.1.5.0/25,1.1.5.0/25

In [48]:
# Now combine those 2 things to get the last non NaN value per row
df_last_non_nan_values = df.ffill(axis=1).iloc[:,-1]
df_xy

0          1.1.1.1
1       1.1.1.0/24
2       1.1.2.0/24
3          1.1.1.3
4    10.10.10.0/24
5       1.1.5.0/25
Name: Filter3_value, dtype: object

In [49]:
# Mark empty cells as True and non-emtpy cells as False
booldf = df.isnull()
booldf

,Filter_Name,Scope_Name,Provides_a_service,Query_Type,Filter1_field,Filter1_type,Filter1_value,Filter2_field,Filter2_type,Filter2_value,Filter3_field,Filter3_type,Filter3_value
0,False,False,False,False,False,False,False,True,True,True,True,True,True
1,False,False,False,False,False,False,False,True,True,True,True,True,True
2,False,False,False,False,False,False,False,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,True,True,True
4,False,False,False,False,False,False,False,True,True,True,True,True,True
5,False,False,False,False,False,False,False,False,False,False,True,True,True

In [50]:
# Find first True (=maximum here) index
booldf.idxmax(axis=1)

0    Filter2_field
1    Filter2_field
2    Filter2_field
3    Filter3_field
4    Filter2_field
5    Filter3_field
dtype: object

In [51]:
# Print first x lines
df.head()

,Filter_Name,Scope_Name,Provides_a_service,Query_Type,Filter1_field,Filter1_type,Filter1_value,Filter2_field,Filter2_type,Filter2_value,Filter3_field,Filter3_type,Filter3_value
0,nc-test1,FBG,True,Simple,ip,eq,1.1.1.1,NaN,NaN,NaN,NaN,NaN,NaN
1,nc-test2,INTERNET,False,Simple,ip,subnet,1.1.1.0/24,NaN,NaN,NaN,NaN,NaN,NaN
2,nc-test3,FBG,False,Simple,ip,subnet,1.1.2.0/24,NaN,NaN,NaN,NaN,NaN,NaN
3,nc-test4,INTERNET,True,and,ip,eq,1.1.1.2,ip,eq,1.1.1.3,NaN,NaN,NaN
4,nc-test5,FBG,False,Qulu,ip,subnet,10.10.10.0/24,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
# Iterate over rows
for index, row in df.iterrows():
    scope_name = row['Scope_Name']
    parent_name = row['Filter_Name']
    # Drop NaN Values (dropna) and everything except filters
    filtered_row = row.drop(labels=['Filter_Name','Scope_Name','Provides_a_service','Query_Type']).dropna()
    # Filters always consist of field, type, value = 3 columns
    print(filtered_row.count())
    # Filters always consist of field, type, value = 3 columns
    filter_cnt = int(filtered_row.count() / 3)
    # Returns a zipper of all filters
    item_zipper = filtered_row.iteritems()
    print(item_zipper)
    #for entry in item_zipper:
    #    print(entry)

    # Get next 3 item values (without heading) from zipper
    for _ in range(filter_cnt):
        field = next(item_zipper)[1]
        t = next(item_zipper)[1]
        val = next(item_zipper)[1]
        print(field, t, val)

3
<zip object at 0x000002241577C048>
ip eq 1.1.1.1
3
<zip object at 0x00000224153C9948>
ip subnet 1.1.1.0/24
3
<zip object at 0x000002241577C508>
ip subnet 1.1.2.0/24
6
<zip object at 0x00000224157F7C48>
ip eq 1.1.1.2
ip eq 1.1.1.3
3
<zip object at 0x00000224157F7F48>
ip subnet 10.10.10.0/24
6
<zip object at 0x00000224157F7D08>
ip subnet 1.1.4.0/25
ip subnet 1.1.5.0/25